<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589853717943-mgbj4l15nr4boi362q0lq2fh7ljeoknq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589853717943-mgbj4l15nr4boi362q0lq2fh7ljeoknq</string>
	<key>API_KEY</key>
	<string>AIzaSyBlUA8Hk-AyJtBmbgODibDpaD5fVZeJoLI</string>
	<key>GCM_SENDER_ID</key>
	<string>589853717943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DonationApp</string>
	<key>PROJECT_ID</key>
	<string>donation-application-3eea3</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-application-3eea3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589853717943:ios:25391db47c4fe929c52432</string>
</dict>
</plist>